.card {
  display: flex;
  margin: 0 14.3rem;
  margin-bottom: 13.3rem;
  /* align-items: center; */
}

.card__image-container {
  background-image: url('/assets/office-blur.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%;
  width: 65rem;
  height: 65rem;
}

.card__text-container {
  background-color: #b1c4ff;
  font-size: 3rem;
  font-weight: 500;
  padding: 13.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 65rem;
  height: 65rem;
}

.card__text-container p:last-child {
  margin-top: 1rem;
  color: #0000ff;
}

/* Arrow Icon */
.card__text-container p:last-child::after {
  content: ' ';
  display: inline-block;
  background-image: url('../assets/icon.svg');
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;
  margin-top: 0.6rem;
  margin-left: -0rem;
  filter: invert(10%) sepia(100%) saturate(4911%) hue-rotate(242deg)
    brightness(104%) contrast(141%);
}

@media screen and (max-width: 1600px) {
  .card {
    margin: 0 8.333vw;
  }

  .card__text-container {
    padding: 8.33vw;
    width: 41.66667vw;
    height: 41.66667vw;
  }

  .card__image-container {
    width: 41.66667vw;
    height: 41.66667vw;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    flex-direction: column;
    margin-bottom: 9rem;
  }

  .card__text-container {
    width: 100%;
    height: auto;
  }

  .card__image-container {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    flex-direction: column;
    margin-bottom: 8rem;
  }

  .card__text-container {
    font-size: 2rem;
  }
}
