/* Gallery 1 */
.gallery-1 {
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.gallery-1__img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-1__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-1__img-container--right {
  background-color: #fbffa7;
  height: 86.3rem;
  border-radius: 2px;
}

.gallery-1__img-container--left {
  background-color: #ffffff;
}

.gallery-1__img--right {
  transform: scale(0.56);
  margin-left: 12.5rem;
}

.gallery-1__img--left {
  margin-left: 25rem;
  z-index: 1;
}

/* Gallery 2 */
.gallery-2 {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.gallery-2__img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-2__img-container--left {
  background-color: #b6ffbf;
  height: 111.3rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-2__img--left {
  width: 56%;
  height: auto;
  transform: translateX(-7rem);
}

.gallery-2__img--left:not(:last-child) {
  margin-bottom: 12.5rem;
}

.gallery-2__img-container--right {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-12.5rem) scale(1.05);
}

.gallery-2__img--right {
  width: 100%;
  height: auto;
}

/* Gallery 3 */
.gallery-3 {
  display: flex;
  align-items: center;
  height: 90rem;
  position: relative;
}

.gallery-3__img-container {
  z-index: 2;
}
.gallery-3__img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-3__background {
  background-color: #d5b3ff;
  width: 107rem;
  height: 90rem;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
.gallery-3__img-container--left {
  width: 33%;
  margin-left: 13.3rem;
}

.gallery-3__img-container--right {
  width: 41.5%;
  margin-left: auto;
}
