body {
  background-color: #f3f3f3;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Color when selecting text */
::selection {
  background: #0000ff;
  color: #f9f9ff;
}
