.about-text {
  padding: 12.5rem 37.4rem;
}

.about-text__h2 {
  padding-bottom: 2rem;
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 500;
}

.about-text_paragraph {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.about-text__h2 a {
  color: #0000ff;
}
