.about-text {
  padding: 12.5rem 37.4rem;
}

.about-text__h2 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 4.2rem;
  color: #0000ff;
}

.about-text_paragraph {
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
